.gallery-collection{
    height: 100%;
    width: 100%;
    margin: auto;
    .heart{
        width: 5rem;
        margin: 5px;
    }
    .comment{
        margin: 5px;
        width: 10rem;
    }
    .buttons{
        display: flex;
        flex-direction: row;
    }
}
.gallery-col{
    margin: auto;
}

@media (max-width : 430px){
    .gallery-col{
        margin: 0 12%;
    }
}
